.highlight-and-share-wrapper {
    display: none;
    width: 0;
    height: 0;
}
.highlight-and-share-wrapper .fa {
    font-size: 14px;
}
.highlight-and-share-wrapper div {
	padding: 10px;
	background: #32CCFE;
	-moz-transition: background-color 200ms;
	-o-transition: background-color 200ms;
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
	z-index: 1000;
	margin-right: 5px;
}
.highlight-and-share-wrapper div:last-child {
    margin-right: 0;
}
.highlight-and-share-wrapper div.has_facebook {
	background: #3c5a9e;
}
.highlight-and-share-wrapper div.has_linkedin {
    background: #0085AE;
}
.highlight-and-share-wrapper div.has_twitter:hover {
	background: #00aced;
}
.highlight-and-share-wrapper div.has_facebook:hover {
	background: #1F3C83;
}
.highlight-and-share-wrapper div.has_linkedin:hover {
    background: #23a0c7;
}
.has_twitter:hover a,
.has_facebook:hover a {
	color: #FFF;
}
.has_twitter a,
.has_twitter a:hover,
.has_twitter a:visited,
.has_facebook a,
.has_facebook a:hover,
.has_facebook a:visited,
.has_linkedin a,
.has_linkedin a:hover,
.has_linkedin a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #f8f8f8;
	display: block;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
}