/* Default HAS Styles */
.has-icon {
	width: 15px;
	vertical-align: middle;
	height: 15px;
}
.highlight-and-share-wrapper {
    display: none;
    width: 0;
    height: 0;
}
.highlight-and-share-wrapper .fa {
    font-size: 14px;
}
.highlight-and-share-wrapper div {
	padding: 10px;
	background: #32CCFE;
	background: rgba(50,204,254,0.4);
	-moz-transition: background-color 200ms;
	-o-transition: background-color 200ms;
	-webkit-transition: background-color 200ms;
	transition: background-color 200ms;
	z-index: 1000;
	margin-right: 8px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.highlight-and-share-wrapper div:last-child {
    margin-right: 0;
}
.highlight-and-share-wrapper div.has_facebook {
	background-color: #3c5a9e;
	background: rgba(60,90,158,0.4)
}
.highlight-and-share-wrapper div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	backdrop-filter: blur(2px);
	background-color: rgba(0,0,0, 0.3);
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
	border-radius: 100%;
}
.highlight-and-share-wrapper div svg {
	opacity: 1;
}
.highlight-and-share-wrapper div.has_linkedin {
    background: #0985ab;
	background: rgba(9,133,171,0.4);
}
.highlight-and-share-wrapper div.has_ok {
    background: #ee8208;
	background: rgba(238,130,8,0.4);
}
.highlight-and-share-wrapper div.has_vk {
    background: #2372f5;
	background: rgba(35,114,245,0.4)
}
.highlight-and-share-wrapper div.has_pinterest {
    background: #CC2127;
}
.highlight-and-share-wrapper div.has_copy {
    background: #222222;
	background: rgba(34,34,34,0.4);
}
.highlight-and-share-wrapper div.has_email {
    background: #0074a2;
	background: rgba(0,116,162,0.4);
}
.highlight-and-share-wrapper div.hax_xing {
    background: #0074a2;
	background: rgba(0,116,162,0.4);
}
.highlight-and-share-wrapper div.has_whatsapp {
    background: #04e26a;
	background: rgba(4,226,106,0.4);
}
.highlight-and-share-wrapper div.has_reddit {
	background: #FF4500;
	background: rgba(255,69,0,0.4);
}
.highlight-and-share-wrapper div.has_telegram {
	background: #278fd6;
	background: rgba(39,143,214,0.4);
}
.highlight-and-share-wrapper div.has_signal {
	background: #3a76f0;
	background: rgba(58,118,240,0.4);
}
.highlight-and-share-wrapper span.has-text {
	display: none;
}
.highlight-and-share-wrapper div.has_twitter:hover {
	background: #00aced;
	background: rgba(0,172,237,0.4);
}
.highlight-and-share-wrapper div.has_facebook:hover {
	background: #1F3C83;
	background: rgba(31,60,131,0.4);
}
.highlight-and-share-wrapper div.has_linkedin:hover {
    background: #23a0c7;
	background: rgba(35,160,199,0.4);
}
.highlight-and-share-wrapper div.has_ok:hover {
    background: #dc7909;
	background: rgba(220,121,9,0.4);
}
.highlight-and-share-wrapper div.has_vk:hover {
    background: #256be0;
	background: rgba(37,107,224,0.4);
}
.highlight-and-share-wrapper div.has_pinterest:hover {
    background: #d93238;
}
.highlight-and-share-wrapper div.has_copy:hover {
    background: #333333;
	background: rgba(51,51,51,0.4);
}
.highlight-and-share-wrapper div.has_email:hover {
    background: #1388b7;
	background: rgba(19,136,183,0.4);
}
.highlight-and-share-wrapper div.has_xing:hover {
    background: #1388b7;
	background: rgba(19,136,183,0.4);
}
.highlight-and-share-wrapper div.has_whatsapp:hover {
    background: #02b857;
	background: rgba(2,184,87,0.4);
}
.highlight-and-share-wrapper div.has_reddit:hover {
	background: #eb4407;
	background: rgba(235,68,7,0.4);
}
.highlight-and-share-wrapper div.has_telegram:hover {
	background: #2587ca;
	background-image: radial-gradient(rgba(255,255,255,0.4),#2587ca,#154c72);
}
.highlight-and-share-wrapper div.has_telegram:hover {
	background: #366ee1;
	background: rgba(54,110,225,0.4);
}
body.has-body .highlight-and-share-wrapper a,
body.has-body .highlight-and-share-wrapper a:hover,
body.has-body .highlight-and-share-wrapper a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #FFF;
	display: block;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
}

/* Size of the box and margin */
div.highlight-and-share-wrapper div {
	position: relative;
	margin-right: 5px;
	padding: 0;
}
div.highlight-and-share-wrapper div a {
	position: relative;
	display: inline-block;
	z-index: 10;
}
.has-inline-text {
	background-color: rgb(255, 239, 177);
	color: black;
	cursor: pointer;
}
.has-inline-text:hover {
	background-color: rgb(252, 214, 60);
}