{
	"extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"parserOptions": {
	  "ecmaVersion": 2017
	},
	
	"globals": {
	  "$": true,
	  "wp":true,
	  "console":true,
	  "$uifm":true
	},
	"rules": {
	  "camelcase": "off",
	  "no-console": "off"
	}
  }