<?xml version="1.0"?>
<ruleset name="Info Cards Pro Standards">
	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg value="s" /><!-- Show sniff codes in all reports -->

	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName" />
		<exclude name="Generic.Arrays.DisallowShortArraySyntax" />
	</rule>

	<rule ref="WordPress-Docs"></rule>

	<config name="testVersion" value="5.6-" />
	<file>.</file>

	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/vendor/</exclude-pattern>
</ruleset>
