@import './colors.scss';
@import './themes.scss';
@import "../click-to-tweet/meatball-menu.scss";


:root {
	--has--preset--notice-warning-text-color:  #664d03;
	--has--preset--notice-warning-icon-color: #664d03;

	--has--preset--notice-informational-text-color:  #0d6efd;
	--has--preset--notice-informational-icon-color: #084298;
}

/* For SVGs in theme menu dropdown */
.has-click-to-tweet-popover {
	.components-button {
		&.is-active {
			color: var(--wp-admin-theme-color);
		}
	}
}
.components-dropdown-menu__menu .components-dropdown-menu__menu-item.is-active svg.has.selected {
	position: relative;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
	display: inline-block;
	border: 2px dotted lighten( $dark, .3 );
	padding: 4px;
	box-sizing: border-box;
	border-radius: 50%;
}

/* Unit Picker Component - Forked from @GenerateBlocks */
.components-has-units-control-header__units {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	align-items: center;
}

.components-has-control__units {
	.components-has-control-buttons__units {
		button.components-button {
			background: #fff;
			box-shadow: none !important;
			color: #929da7;
			font-size: 10px;
			padding: 0 5px;
			position: relative;
			text-align: center;
			text-shadow: none;
			border: 0;
			border-radius: 0 !important;
			line-height: 20px;
			padding: 0 5px;
			height: auto;

			&.is-primary {
				background: #fff !important;
				color: #000 !important;
				cursor: default;
				z-index: 1;
				font-weight: bold;
			}
		}
	}
}

/* Click to Tweet button options */
.has-sidebar-button-options {
	.components-base-control__label {
		max-width: 100%;
	}
}

.has-character-counter {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	.default {
		stroke: lightgray;
	  }
	  
	  svg{
		width: 45px;
		height: 45px;
	  }

	circle {
		fill: none;
  		stroke-width: 3;
	}
}

@keyframes has-line-count-move {
	0% {
	  background-position: 0 0;
	}
	100% {
	  background-position: 20px 20px;
	}
  }

.has-line-count {
	display: flex;
	align-items: center;
	position: relative;
	border: 1px solid #DDD;
	padding: 4px 5px;
	width: 100%;
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: middle;

	.has-line-count-progress {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 0%;
		border-radius: 10px;

		background-image: linear-gradient( -45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent );
		background-size: 20px 20px;

		animation: has-line-count-move 5s linear infinite;

		&.has-line-count-min-chars {
			display: flex;
			justify-content: center;
			text-align: center;
			overflow:visible;
			padding-left: 5px;
			padding-right: 5px;
			min-width: 115px;

			.has-line-count-characters {
				margin: 0;
				margin: 4px;
			}
		}
	}

	.has-line-count-characters {
		display: inline-block;
		color: $dark;
		font-size: 8px;
		margin: 5px 10px 5px 0;
		padding: 0px 8px;
		background: rgba( 255, 255, 255, 0.8 );
		border-radius: 5px;
		min-width: 45px;
	}
}

/* Tabs */

.has-click-to-tweet-tabs {
	background-color: #fff;
	padding: 25px;
	border-radius: 5px;
	border: 1px solid $gray;

	.components-tab-panel__tabs {
		border-bottom: 1px solid $gray;
	}

	/* Add Info icon to tab. */
	.has-tab-info {
		position: relative;
		padding-right: 25px;
		&:after {
			display: block;
			content: "\f14c";
			font-family: "Dashicons";
			position: absolute;
			font-size: 15px;
			width: 20px;
			height: 20px;
			color: #1e1e1e;
			visibility: visible;
			top: calc(50% - 8px);
			right: 5px;
		}

		&:hover:after {
			color: var(--wp-admin-theme-color);
		}
	}

	

	.components-tab-panel__tabs-item {
		&.active-tab {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) transparent, inset 0 -4px 0 0 var(--wp-admin-theme-color);
		}

		&:focus {
			box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color), inset 0 -4px 0 0 var(--wp-admin-theme-color);
		}
	}
}

/* Hashtags in CTT Editor */
.has-hashtag-fields .components-form-token-field__token {
	display: inline-flex;

	button.components-button.has-icon {
		padding: 0;
	}
}

/* Notices in CTT Editor */
body .editor-styles-wrapper {
	.has-notice {
		margin: 15px 0;
		color: var( --has--preset--notice-warning-text-color );
		text-align: center;
		padding: 20px 15px;
		
		.has-notice-icon {
			text-align: center;
		}
		h2 {
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 15px;
			color: var( --has--preset--notice-warning-text-color );
		}
		p, div {
			color: var( --has--preset--notice-warning-text-color );
			font-size: 15px;
		}
		p {
			margin-bottom: 8px;
		}
	}
}
