@import './colors.scss';
@import './themes.scss';

/* For SVGs in theme menu dropdown */
.has-click-to-tweet-popover {
	.components-button {
		&.is-active {
			color: var(--wp-admin-theme-color);
		}
	}
}
.components-dropdown-menu__menu .components-dropdown-menu__menu-item.is-active svg.has.selected {
	position: relative;
	background: transparent;
	box-shadow: none;
	border-radius: 0;
	display: inline-block;
	border: 2px dotted lighten( $dark, .3 );
	padding: 4px;
	box-sizing: border-box;
	border-radius: 50%;
}

/* Unit Picker Component - Forked from @GenerateBlocks */
.components-has-units-control-header__units {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	align-items: center;
}

.components-has-control__units {
	.components-has-control-buttons__units {
		button.components-button {
			background: #fff;
			box-shadow: none !important;
			color: #929da7;
			font-size: 10px;
			padding: 0 5px;
			position: relative;
			text-align: center;
			text-shadow: none;
			border: 0;
			border-radius: 0 !important;
			line-height: 20px;
			padding: 0 5px;
			height: auto;

			&.is-primary {
				background: #fff !important;
				color: #000 !important;
				cursor: default;
				z-index: 1;
				font-weight: bold;
			}
		}
	}
}

/* Click to Tweet button options */
.has-sidebar-button-options {
	.components-base-control__label {
		max-width: 100%;
	}
}

.has-character-counter {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	.default {
		stroke: lightgray;
	  }
	  
	  svg{
		width: 45px;
		height: 45px;
	  }

	circle {
		fill: none;
  		stroke-width: 3;
	}
}