.has-click-to-tweet {
	.has-click-to-tweet-wrapper {
		padding: 1.875em;
	}
}

.has-ctt-block-theme-blue {
	font-size: 16px;
	.has-click-to-tweet-wrapper {
		position: relative;
		background: $blue;
		color: lighten($blue, 80%);
		border: 1px solid lighten($blue, 30%);
		border-radius: 5px;
		box-shadow: 1px 1px 3px 0px rgba(0, 24, 168, 0.8);
		padding-bottom: 1.875em;

		.has-click-to-tweet-ellipsis {
			position: absolute;
			display: inline-block;
			top: 0.4em;
			right: 0.9375em;
			color: rgba(255, 255, 255, 0.6);
		}
		/* 1.875 initial padding. See has-ctt-block-theme-blue above */

		.has-click-to-tweet-text-wrapper {
			position: relative;
			font-size: 1.5em;
			padding-left: 3.43em; /* 5em:before / 2 + ( 1.875em / 2 ) */
			padding-bottom: 1.075em; /* 1.875 - (1.6/2) line-height = 1.075em */
			padding-top: 0;
			padding-right: 0;
			line-height: 1.6;

			&:before {
				font-family: serif;
				position: absolute;
				left: 0;
				top: 0.4125em; /* 1 - ( ( ( ( 1.075 / 2 ) + ( ( 1.6 - 1.5 ) / 2 ) ) ) */
				content: '\201C';
				display: inline-block;
				line-height: 0;
				font-size: 5em;
				color: rgba(255, 255, 255, 0.15);
			}

			.has-click-to-tweet-text {
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
			}
		}

		.has-click-to-tweet-button-wrapper {
			display: flex;
			position: relative;

			.has-click-to-tweet-button-icon {
				position: absolute;
				width: 1.1em;
				height: 1.1em;
				top: calc(50% + 5px - 1em);
				bottom: 0;
				right: 20px;

				svg path {
					fill: $blue;
					transition: all 0.3s ease-in-out;
				}
			}

			.has-click-to-tweet-button-container {
				position: relative;
				display: inline-block;
			}

			&.left {
				justify-content: flex-start;
			}
			&.right {
				justify-content: flex-end;
			}
			&.center {
				justify-content: center;
			}
		}
		.has-click-to-tweet-button {
			position: relative;
			background: $white;
			color: $blue;
			padding: 10px 20px;
			border-radius: 4px;
			border: 1px solid lighten($blue, 50%);
			display: inline-block;
			transition: all 0.3s ease-in-out;
			font-family: 'Lato', sans-serif;
			font-weight: 400;
			font-size: 1.1em;
			line-height: 1.1em;

			&:hover {
				transition: all 0.3s ease-in-out;
				color: $white;
				background: $blue;
				border: 1px solid $white;

				svg path {
					fill: $white;
					transition: all 0.3s ease-in-out;
				}
			}

			&.full .has-click-to-tweet-button-text {
				display: inline-block;
				padding-right: 28px;
			}
			&.text .has-click-to-tweet-button-text {
				display: inline-block;
				padding-right: 0;
			}
		}
	}
}
.has-ctt-block-theme-blue {
	.has-click-to-tweet-wrapper {
		background-color: #00316e;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='978' height='815' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
	}
}
