// Text control styles.
@import '../../common.scss';

@keyframes has-rotate {
	100% {
		transform: rotate(360deg);
	}
}

.has-email--content-wrap {
	position: relative;
	font-family: sans-serif;
	max-width: calc(100% - 20px);
}
/* Prevent recaptcha from hovering over cancel button */
.showing-recaptcha .has-admin__tabs--content-actions {
	padding-right: 80px;
}
h2 {
	font-family: sans-serif;
}
.is-required label {
	position: relative;
}
.is-required label::after {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    content: "*";
    top: 0;
    right: -12px;
    color: #b53b07;
    font-size: 1.4em;
    line-height: 1.3;
}
.has-error {
	input {
		border: 1px solid var(--quotes-dlx-admin--color-notice--error-alt);
		background-color: var(--quotes-dlx-admin--color-notice--error);
	}
}
.has-email-control-row {
	margin-bottom: 16px;
}
.components-base-control {
	margin-bottom: 0;

	&.has-error {
		margin-bottom: 5px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	label {
		font-weight: 700;
	}
	input[type='text'],
	input[type='password'] {
		position: relative;
		display: block;
		min-width: 100%;
		line-height: 2;
		font-size: 16px;
		/* Change placeholder color */
		&::placeholder {
			color: #a0a5aa;
		}
	}

	.components-base-control__help {
		margin-bottom: 0;
	}
}

/* Error Notices */
.has-admin__notice {
	margin: 10px 0;
	&.has-admin__notice--has-icon {
		.components-notice__content {
			display: grid;
			grid-template-columns: 32px 1fr 1px;
			align-items: center;
		}

		&.has-admin__notice-appearance--inline .components-notice__content {
			display: flex;

			.has-admin__notice-icon {
				margin-right: 8px;
			}
		}
	}
	.qldx-admin__notice-message {
		color: #000;
		font-size: 1.1em;
		line-height: 1.2;
		font-weight: 500;
	}
	&.has-admin__notice-appearance--block .components-notice {
		border-left: 4px solid transparent;
		padding: 15px 20px;
		padding-left: 15px;
		margin-bottom: 15px;
	}
	&.has-admin__notice-appearance--inline .components-notice {
		padding-left: 0;
	}

	svg {
		display: flex;
		align-items: center;
		width: 20px;
		height: 20px;
	}

	&.has-admin__notice-type--error:not(.has-admin__notice-appearance--inline) {
		background-color: var(--quotes-dlx-admin--color-notice--error);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--error-alt);
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--error-alt);
		}
	}
	&.has-admin__notice-type--error.has-admin__notice-appearance--inline {
		.qldx-admin__notice-message {
			color: var(--quotes-dlx-admin--color-notice--error-alt);
		}
		.qldx-admin__notice-message {
			font-size: 0.9em;
		}

		svg {
			width: 16px;
			height: 16px;
			path {
				fill: var(--quotes-dlx-admin--color-notice--error-alt);
			}
		}
	}
	&.has-admin__notice-type--success {
		background-color: var(--quotes-dlx-admin--color-notice--success);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--success-alt);
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--success-alt);
		}
	}
	&.has-admin__notice-type--info {
		background-color: var(--quotes-dlx-admin--color-notice--info);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--info-alt);
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--info-alt);
		}
	}
	&.has-admin__notice-type--warning {
		background-color: var(--quotes-dlx-admin--color-notice--warning);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--warning-alt);
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--warning-alt);
		}
	}
}

.has-admin__tabs--content-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&.no-flex {
		display: block;
	}

	.admin-reset-confirmation {
		padding-bottom: 20px;
	}

	button {
		background: var(--quotes-dlx-admin--color-white);
		color: var(--quotes-dlx-admin--color-green-alt);
		border-style: solid;
		border-color: var(--quotes-dlx-admin--color-green-alt);
		padding: 10px 20px;
		cursor: pointer;

		&:hover {
			background: #e9ece6;
			color: var(--quotes-dlx-admin--color-green-dark);
			border-color: var(--quotes-dlx-admin--color-green);
		}

		&.has-error {
			border: 1px solid var(--quotes-dlx-admin--color-notice--error-alt);
			&:hover {
				cursor: not-allowed;
			}
		}

		&.qdlx__btn-secondary {
			background: #FFF;
			color: var(--quotes-dlx-admin--color-notice--secondary-alt);
			border-color: var(--quotes-dlx-admin--color-notice--secondary-alt);

			&:hover {
				background: var(--quotes-dlx-admin--color-notice--secondary);
				color: var(--quotes-dlx-admin--color-notice--secondary-alt);
				border-color: var(--quotes-dlx-admin--color-notice--secondary-alt);
			}
		}

		&.qdlx__btn-danger {
			background: var(--quotes-dlx-admin--color-white);
			color: var(--quotes-dlx-admin--color-red-alt);
			border-color: var(--quotes-dlx-admin--color-red-alt);

			&:hover {
				background: var(--quotes-dlx-admin--color-red-light);
				color: var(--quotes-dlx-admin--color-red-alt);
				border-color: var(--quotes-dlx-admin--color-red-alt);
			}
		}

		&.qdlx__btn-accent {
			/* Load light purple button color and background with hover and focus states */
			background: var(--quotes-dlx-admin--color-white);
			color: var(--quotes-dlx-admin--color-accent);
			border-color: var(--quotes-dlx-admin--color-accent);
			&:hover {
				background: #f8f7fe;
				color: var(--quotes-dlx-admin--color-accent);
				border-color: var( --quotes-dlx-admin--color-accent );
			}
			&.qdlx__btn--icon-right {
				&.is-saving {
					svg,
					path {
						color: var(--quotes-dlx-admin--color-accent);
						fill: var(--quotes-dlx-admin--color-accent);
					}
				}
			}
		}

		&.qdlx__btn--icon-right {
			&.is-saving {
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					animation: has-rotate 1s linear infinite;
					path {
						fill: var(--quotes-dlx-admin--color-green-alt);
					}
				}
			}
			&.is-resetting {
				display: flex;
				justify-content: space-between;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					animation: has-rotate 1s linear infinite;
					path {
						fill: var(--quotes-dlx-admin--color-red-alt);
					}
				}
			}
		}
	}
}