/**
 * Editor styles for the admin
 */
 @import "inline-themes.scss";


.has-click-to-share-wrapper {
	.has-click-to-share-text {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		font-weight: 100;
	}
	.has-click-to-share-cta {
		float: right;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		font-weight: 100;
		font-size: 24px;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

