/**
 * Editor styles for the admin
 */
 @keyframes hasFadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }

.highlight-and-share {
	&.aligncenter,
	&.alignwide,
	&.alignfull {
		display: flex;
		justify-content: center;
	}

	.has-click-to-share {
		width: 100%; /* max width in block settings */
	}
}

.has-click-to-share-wrapper {
	.has-click-to-share-text {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		font-weight: 100;
	}
	.has-click-to-share-cta {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		svg {
			margin-left: 12px;
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.has-inline-theme-edit {
	padding: 20px;
}

.has-click-to-share,
.has-click-to-share:hover {
	transition: all 0.3s ease-in-out;
}

/* Color Component (forked from @GenerateBlocks) */
.has-component-color-picker-wrapper,
.qdlx-admin__tabs--content-inner
	.components-base-control.has-component-color-picker-wrapper {
	text-align: left;
	margin-bottom: 16px;
	margin-top: 2px;
	width: 100%;

	> .components-base-control__field {
		position: relative;
		display: grid;
		grid-template-columns: 175px 30px;
		column-gap: 15px;
		margin: 0 auto;
		justify-content: space-between;
		text-align: left;
		margin-bottom: 8px;
		align-items: center;
		font-size: 13px;

		.components-color-palette__item-wrapper {
			margin: 0;
		}
	}
	.has-color-component-label {
		margin-bottom: 0;
		line-height: 1.2;
	}
}
.components-popover.has-component-color-picker {
	.has-component-color-picker-palette {
		padding: 0 16px;

		button.components-circular-option-picker__option {
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
		.components-circular-option-picker__swatches {
			display: flex;
			flex-wrap: wrap;
			gap: 12px;
		}
		.components-circular-option-picker__option-wrapper {
			display: inline-block;
			height: 28px;
			width: 28px;
			vertical-align: top;
			transition: 100ms transform ease;
		}
	}

	.components-base-control__field,
	.components-color-palette {
		margin: 0;
	}

	.components-color-picker {
		padding: 5px;
	}

	.components-color-picker__inputs-toggle {
		display: none;
	}

	.components-color-picker__body {
		padding-bottom: 0;
	}

	.components-popover__content {
		padding: 10px;
		width: 300px;
	}

	.components-color-picker__inputs-fields {
		margin-right: 0;
	}

	.components-color-clear-color {
		text-align: right;
		padding: 0 16px;
		color: var(--quotes-dlx-admin--color-dark);
	}
}

.components-circular-option-picker__option.is-pressed {
	box-shadow: inset 0 0 0 4px !important;
}

.has-component-color-opacity {
	display: flex;
	padding: 0 16px;
	margin: 10px 0;

	svg {
		width: 28px;
		height: 28px;
	}

	.components-range-control {
		flex-grow: 1;
		padding-left: 5px;
	}
}

.has-component-color-picker .components-popover__content {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
	border-radius: 2px;
	width: 100% !important;
	max-width: 250px !important;
}

.has-component-color-picker .components-circular-option-picker__option-wrapper {
	position: relative;

	&:hover {
		transform: scale(1.3);
	}
}

.has-screensize-variants {
	padding: 0 8px;
	position: sticky;
	top: 0;
	background: #FFF;
	z-index: 10;
	.components-button-group {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
	}
}
/* Dimensions Component */
.components-has-dimensions-control {
	display: inline-block;
	/* Hide labels if appropriate and still be screen reader friendly. From: https://css-tricks.com/inclusively-hidden/ */
	label {
		clip: rect(0 0 0 0); 
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap; 
		width: 1px;
	}

	.components-has-dimensions-control__input {
		display: inline-block;
		position: relative;
		overflow: visible;

		&:hover:after,
		&:focus-within:after {
			z-index: 1000;
			animation-duration: 0.8s;
			animation-name: hasFadeIn;
			opacity: 1;
			transition: all 0.2s ease-in-out;
			display: block;
			position: absolute;
			padding: 8px;
			content: attr(data-tooltip);
			font-family: "FranklinGothic", Helvetica, sans-serif;
			background-color: #333;
			color: #FFF;
			font-size: 13px;
			line-height: 1.2;
			top: -40px;
			left: 0;
			text-align: center;
			border-radius: 3px;
			min-width: 100px;
		}
	}

	.components-has-dimensions-control__inputs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 30px;
		text-align: center;
	}

	.components-has-dimensions-control__number {
		display: inline;
		margin-bottom: 0;

		.components-base-control__field {
			display: inline;
		}
	}
	input[type='number'] {
		width: 100%;
	}
}
/* Sync button */
.components-has-dimensions-control_sync.components-button {
	height: 100%;
}

/* Dimensions labels */
.components-has-dimensions-control__input-labels {
	display: none;
}

/* Unit Picker Component - Forked from @GenerateBlocks */
.components-has-units-control-header__units {
	margin-bottom: 5px;
}

.components-has-dimensions-control {
	.components-has-control__units {
		text-align: right;
		.components-has-control-buttons__units {
			button.components-button {
				background: transparent;
				box-shadow: none !important;
				color: #929da7;
				font-size: 10px;
				padding: 0 5px;
				position: relative;
				text-align: center;
				text-shadow: none;
				border: 0;
				border-radius: 0 !important;
				line-height: 20px;
				padding: 0 5px;
				height: auto;

				&.is-primary {
					background: transparent !important;
					color: #000 !important;
					cursor: default;
					z-index: 1;
					font-weight: bold;
				}
			}
		}
	}
}

.has-unit-picker {
	display: block;
	/* Unit Picker Component - Forked from @GenerateBlocks */
	.components-has-units-control-header__units {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		align-items: center;
	}

	.components-has-control__units {
		.components-has-control-buttons__units {
			button.components-button {
				background: #fff;
				box-shadow: none !important;
				color: #929da7;
				font-size: 10px;
				padding: 0 5px;
				position: relative;
				text-align: center;
				text-shadow: none;
				border: 0;
				border-radius: 0 !important;
				line-height: 20px;
				padding: 0 5px;
				height: auto;

				&.is-primary {
					background: #fff !important;
					color: #000 !important;
					cursor: default;
					z-index: 1;
					font-weight: bold;
				}
			}
		}
	}
}
.has-range-control {
	display: block;
}

/* Typography Control */
.has-typography-picker {
	padding: 10px 15px;

	.components-base-control {
		padding-bottom: 0 !important; // override core styles.
		margin-bottom: 0 !important; // override core styles.
	}
	.components-base-control__field {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.has-typography-picker__row {
		margin-bottom: 10px;
	}

	.has-typography-picker__row__col-2 { /* there's a hidden div that has zero space */
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		align-items: end;

		.has-typography-picker__row_item.has-units {
			display: grid;
			grid-template-columns: 1fr 0 36px;
			column-gap: 0;
			align-items: end;

			.components-button {
				font-size: 13px;
				line-height: normal;
				padding: 6px 8px;
				max-height: 30px;
			}
		}
		
	}
}

/* Popover unit picker for typography */
.has-component-font-unit-picker {
	.components-popover__content {
		min-width: 48px;
		background: #FFF;
		outline: unset;
		border: 1px solid #333;

		.components-button {
			width: 100%;
			font-size: 13px;
			padding: 6px 8px;
			margin: 0;
			box-shadow: unset;
			justify-content: center;
			border-bottom: 1px solid #dadada;
			outline: unset;

			&:last-child,
			&.is-primary {
				border-bottom: 0;
			}
		}
	}
}

/* Typography row */
.has-typography-panel-row {
	display: block;
}
.has-typography-picker-wrapper > div {
	display: grid;
	grid-template-columns: 1fr 36px;
	column-gap: 0;
	align-items: center;
	width: 100%;

	.has-typography-component-label {
		font-size: 13px;
	}

	.components-button {
		width: 100%;
		font-size: 13px;
		padding: 6px 8px;
		margin: 0;
		justify-content: center;
		outline: unset;
	}

	.dashicon {
		display: flex;
		width: 25px;
		justify-content: center;
		align-items: center;

		&:before {
			font-size: 1.4rem;
		}
	}
}
.has-component-typography-popup {
	min-width: 250px;
	max-width: 250px;

	.components-popover__content {
		width: unset;
	}
}

/* Background Selector */
.has-background-type {
	display: block;
	margin-bottom: 15px;

	.components-button-group {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		button {
			display: block;
			text-align: center;
		}
	}
}
.has-background-gradient,
.has-background-gradient-sync,
.has-background-gradient-generator{
	display: block;
}
.has-component-gradient-picker-wrapper > div,
.has-component-gradient-sync-wrapper > div,
.has-component-gradient-generator-wrapper > div{
	display: grid;
	grid-template-columns: 1fr 30px;
	align-items: center;

	h3 {
		margin-bottom: 0;
	}
}
.has-component-gradient-picker {
	display: inline-block;
	height: 28px;
	width: 28px;
	vertical-align: top;
	transition: 100ms transform ease;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px !important;

	&:hover {
		transform: scale(1.1);
	}
}
.has-component-gradient-picker-popover {
	.components-popover__content {
		width: 300px;
		padding: 10px;
	}
}

/* Background Image Uploader/Selector */
.has-background-selector-upload-row {
	display: grid;
	grid-template-columns: 1fr 30px;
	align-items: end;
	column-gap: 15px;

	.has-background-selector-upload-button button {
		max-height: 30px;
		max-width: 30px;
	}

	.components-base-control__field,
	.components-base-control {
		margin-bottom: 0 !important; // override core styles.
	}
}
.has-component-background-settings-popup {
	.components-popover__content {
		width: 250px;
		padding: 10px;
	}
}
.has-background-selector__row_item {
	margin-bottom: 20px;

	&.has-background-selector__row_item-2 {
		display: grid;
		grid-template-columns: 1fr 30px;
		align-items: center;
		column-gap: 15px;

		h3 {
			margin-bottom: 0;
		}

		button { 
			max-height: 30px;
			max-width: 30px;
		}
	}
}
.has-background-selector-image-button-error {
	color: #bc2b2c !important; // override core styles.
	background: #f5e5e4 !important; // override core styles.
	border-color: #bc2b2c !important; // override core styles.
	box-shadow: inset 0 0 0 1px #bc2b2c !important; // override core styles.
}