/**
 * Editor styles for the admin
 */
 @import "inline-themes.scss";


.has-click-to-share-wrapper {
	.has-click-to-share-text {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		font-weight: 100;
	}
	.has-click-to-share-cta {
		float: right;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
		font-weight: 100;
		font-size: 24px;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.has-inline-theme-edit {
	padding: 20px;
}

.has-click-to-share,
.has-click-to-share:hover {
	transition: all 0.3s ease-in-out;
}

/* Color Component (forked from @GenerateBlocks) */
.has-component-color-picker-wrapper,
.qdlx-admin__tabs--content-inner
	.components-base-control.has-component-color-picker-wrapper {
	text-align: left;
	margin-bottom: 16px;
	margin-top: 2px;

	> .components-base-control__field {
		position: relative;
		display: inline-grid;
		grid-template-columns: 175px 30px;
		row-gap: 2;
		margin: 0 auto;
		justify-content: space-between;
		text-align: left;
		font-weight: 600;
		margin-bottom: 8px;
		align-items: center;

		.components-color-palette__item-wrapper {
			margin: 0;
		}
	}
	.has-color-component-label {
		line-height: 1.2;
	}
}
.components-popover.has-component-color-picker {
	.has-component-color-picker-palette {
		padding: 0 16px;

		button.components-circular-option-picker__option {
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
		.components-circular-option-picker__swatches {
			display: flex;
			flex-wrap: wrap;
			gap: 12px;
		}
		.components-circular-option-picker__option-wrapper {
			display: inline-block;
			height: 28px;
			width: 28px;
			vertical-align: top;
			transition: 100ms transform ease;
		}
	}

	.components-base-control__field,
	.components-color-palette {
		margin: 0;
	}

	.components-color-picker {
		padding: 5px;
	}

	.components-color-picker__inputs-toggle {
		display: none;
	}

	.components-color-picker__body {
		padding-bottom: 0;
	}

	.components-popover__content {
		padding: 10px;
		width: 300px;
	}

	.components-color-picker__inputs-fields {
		margin-right: 0;
	}

	.components-color-clear-color {
		text-align: right;
		padding: 0 16px;
		color: var(--quotes-dlx-admin--color-dark);
	}
}

.components-circular-option-picker__option.is-pressed {
	box-shadow: inset 0 0 0 4px !important;
}

.has-component-color-opacity {
	display: flex;
	padding: 0 16px;
	margin: 10px 0;

	svg {
		width: 28px;
		height: 28px;
	}

	.components-range-control {
		flex-grow: 1;
		padding-left: 5px;
	}
}

.has-component-color-picker .components-popover__content {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
	border-radius: 2px;
	width: 100% !important;
	max-width: 250px !important;
}

.has-component-color-picker .components-circular-option-picker__option-wrapper {
	position: relative;

	&:hover {
		transform: scale(1.3);
	}
}

.has-screensize-variants {
	padding: 0 8px;
	position: sticky;
	top: 0;
	background: #FFF;
	z-index: 10;
	.components-button-group {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
	}
}

/* Dimensions Component */
.components-has-dimensions-control {
	display: inline-block;
	label {
		display: none;
	}

	.components-has-dimensions-control__inputs {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 30px;
		text-align: center;
	}

	.components-has-dimensions-control__number {
		display: inline;
		margin-bottom: 0;

		.components-base-control__field {
			display: inline;
		}
	}
	input[type='number'] {
		width: 100%;
	}
}
/* Sync button */
.components-has-dimensions-control_sync.components-button {
	height: 100%;
}

/* Dimensions labels */
.components-has-dimensions-control__input-labels {
	display: none;
}

/* Unit Picker Component - Forked from @GenerateBlocks */
.components-has-units-control-header__units {
	margin-bottom: 5px;
}

.components-has-dimensions-control {
	.components-has-control__units {
		text-align: right;
		.components-has-control-buttons__units {
			button.components-button {
				background: transparent;
				box-shadow: none !important;
				color: #929da7;
				font-size: 10px;
				padding: 0 5px;
				position: relative;
				text-align: center;
				text-shadow: none;
				border: 0;
				border-radius: 0 !important;
				line-height: 20px;
				padding: 0 5px;
				height: auto;

				&.is-primary {
					background: transparent !important;
					color: #000 !important;
					cursor: default;
					z-index: 1;
					font-weight: bold;
				}
			}
		}
	}
}