/* https://google-webfonts-helper.herokuapp.com/fonts/josefin-sans?subsets=latin */
/* josefin-sans-300 - latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/josefin-sans/josefin-sans-v25-latin-300.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-300.woff') format('woff'), /* Modern Browsers */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-300.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-regular - latin */
  @font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/josefin-sans/josefin-sans-v25-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }
  /* josefin-sans-500 - latin */
  @font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/josefin-sans/josefin-sans-v25-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/josefin-sans/josefin-sans-v25-latin-500.svg#JosefinSans') format('svg'); /* Legacy iOS */
  }