/* https://google-webfonts-helper.herokuapp.com/fonts/playfair-display?subsets=latin */
/* playfair-display-regular - latin */
@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/playfair-display/playfair-display-v30-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../../fonts/playfair-display/playfair-display-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-500 - latin */
  @font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 500;
	src: url('../../fonts/playfair-display/playfair-display-v30-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../../fonts/playfair-display/playfair-display-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-500.woff') format('woff'), /* Modern Browsers */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-500.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-700 - latin */
  @font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/playfair-display/playfair-display-v30-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('../../fonts/playfair-display/playfair-display-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-700.woff') format('woff'), /* Modern Browsers */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../../fonts/playfair-display/playfair-display-v30-latin-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }