@import "breakpoints-mixin.scss";
@import "../node_modules/@wordpress/components/build-style/style.css";

:root {
	--quotes-dlx-admin--color-dark: #393838;
	--quotes-dlx-admin--color-notice--info: #e3f3f7;
	--quotes-dlx-admin--color-notice--info-alt: #3a8dc4;
	--quotes-dlx-admin--color-notice--success: #eaf5ea;
	--quotes-dlx-admin--color-notice--success-alt: #49a939;
	--quotes-dlx-admin--color-notice--warning: #fef6e1;
	--quotes-dlx-admin--color-notice--warning-alt: #e8a931;
	--quotes-dlx-admin--color-notice--error: #f5e5e4;
	--quotes-dlx-admin--color-notice--error-alt: #bc2b2c;
	--quotes-dlx-admin--color-notice--secondary: #e2e3e5;
	--quotes-dlx-admin--color-notice--secondary-alt: #41464b;
}

@keyframes has-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes has-fade-in-out {
	0% {
		opacity: 0;
		height: 0;
	}
	50% {
		opacity: 1;
		height: auto;
	}
	100% {
		opacity: 0;
		height: 0;
		visibility: hidden;
	}
}

@keyframes has-fade-out {
	from {
		opacity: 1;
		height: auto;
	}
	to {
		opacity: 0;
		height: 0;
	}
}

@keyframes has-spin {
	100% {
		transform: rotate(360deg);
	}
}

/* Make interface full-width/full-height */
#wpcontent {
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;
	background-color: #EBEBEB;

	.quotes-dlx-plugin {
		margin: 0;
	}
}

#wpbody-content {
	padding: 0;
	margin: 0;
}

#wpfooter {
	display: none;
}

.has-admin-container-body__content {
	padding: 10px 35px;
	background: #f0f0f1;
	border: 1px solid #c3c4c7;
	border-top: 0;
	box-shadow: 0 1px 6px rgb(0 0 0 / 8%);
	padding-bottom: 35px;
}

$link_color: #2c3a95;
$link_color_hover: darken( #2c3a95, 15% );
.has-form-wrapper {
	position: relative;
	padding: 0;
	margin: 0;

	header {
		background: #4F4F4F;
	}
	.has-admin-container-body {
		max-width: 69.5rem;
		margin: 0 auto;
		padding: 2.4em 20px;
	}
	.has-admin-container-wrap {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 1.975rem;
		align-items: center;
		padding: 1.5rem;
		max-width: 69.5rem;
		margin: 0 auto;
		text-align: right;

		@include respond-to('small') {
			grid-template-columns: 1fr 175px;
		}

		@include respond-to('medium') {
			grid-template-columns: 1fr 250px;
		}

		@include respond-to('large') {
			grid-template-columns: 1fr 250px;
		}

		h2 {
			padding: 0;
			margin: 0;
		}
	}

	.has-logo-wrapper {
		text-align: left;
		
		img {
			max-width: 100%;
			height: auto;
		}

	}
	
	.header__btn-wrap {
		@include respond-to('small') {
			margin-top: 0;
		}

	}

	.has-admin-preview {

		li {
			display: list-item;
			margin: 0;
			padding: 0;
			margin-bottom:5px;
		}

		a {
			display: inline-block;
			position: relative;
			color: $link_color;
			transition: all .3s ease-in-out;
			text-decoration: none;

			&:after {
				transition: all .3s ease-in-out;
				display: inline-block;
				opacity: 0;
				position: absolute;
				bottom: -5px;
				left: 0;
				content: '';
				width: 100%;
				height: 2px;
				background: $link_color_hover;
			}

			&:hover {
				color: $link_color_hover;
				&:after {
					opacity: 1;
					
				}
			}
		}
		
	}
}

/* Button styles stolen from QuotesDLX */
.header__btn-wrap {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	max-width: 100%;
	margin-top: 15px;

	@include respond-to('small') {
		max-width: 250px;
		margin-top: 0;
	}

	@include respond-to('medium') {
		max-width: 250px;
		margin-top: 0;
	}

	@include respond-to('large') {
		max-width: 250px;
		margin-top: 0;
	}

	
	&.left,
	&.right,
	&.center {
		display: flex;
	}
	&.left {
		justify-content: flex-start;
	}
	&.center {
		justify-content: center;
	}
	&.right {
		justify-content: flex-end;
	}
	button,
	.has__btn-primary {
		width: 100%;
		text-align: center;
		margin-bottom: 0px;
		border-radius: 2px;
		font-size: 1.3em;
		display: inline-block;
		background: #FFF;
		color: #4F4F4F;
		border: 2px solid #4F4F4F;
		padding: 10px 20px;
		cursor: pointer;
		transition: all 0.4s ease-in-out;
		text-decoration: none;;

		&:not([disabled]):hover {
			border-radius: 2px;
			background: #4F4F4F;
			color: #FFF;
			border-color: #FFF;
			text-decoration: none;
			transition: all 0.4s ease-in-out;
		}
	}
	.has__btn-primary {
		display: block;
		width: 100%;

		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.has-admin-container-footer {

	footer {
		background: #4f4f4f;
	}

	.has-admin-container-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		max-width: 275px;
		margin: 0 auto;
		padding: 4.0em 0;
	}

	.footer-rate-icon,
	.has-plea {
		display: block;
		font-style: italic;
		color: #FFF;
	}
	.has__btn-primary {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 0px;
		border-radius: 2px;
		font-size: 1.3em;
		line-height: 1.35em;
		background: #F08EA5;
		color: #FFF;
		border: 2px solid #F5A4B7;
		padding: 10px 20px;
		cursor: pointer;
		transition: all 0.4s ease-in-out;
		text-decoration: none;
		margin-top: 18px;
		margin-bottom: 18px;

		&:not([disabled]):hover {
			border-radius: 2px;
			background: #4F4F4F;
			color: #FFF;
			border-color: #F08EA5;
			text-decoration: none;
			transition: all 0.4s ease-in-out;
		}
	}
}

/* Admin panel content container styles */
h2.has-admin-content-subheading {
	position: relative;
	font-size: 1.65em;
	margin-bottom: 1.6em;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: #dcdcde;
		position: absolute;
		bottom: -15px;
		left: 0;
	}
}

.has-admin-content-wrapper {
	.components-base-control__help {
		font-size: 0.95em;
	}
	p.description {
		font-size: 1.1em;
	}
	.has-admin-component-row {
		label {
			display: block;
			font-weight: 600;
			text-transform: unset;
			font-size: 13px;
		}
	}
}

/* Admin text controls */
.has-admin__text-control {
	input[type='text'],
	input[type='password'] {
		max-width: 350px;
		width: 100%;
		background-color: #fff;
		border-radius: 3px;
		font-family: inherit;
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding: 5px 10px;
		line-height: 2;
		min-height: 24px;
		margin: 0;
		outline-style: none;
		box-sizing: border-box;
	}
}

/* Admin Radio component */
.components-radio-control {
	input[type='radio'] {
		&~label {
			display: inline-block;
			margin-left: 5px;
		}
	}
	.components-radio-control__option {
		margin-bottom: 8px;
	}
}

/* Admin Notices */
/* Error Notices */
.has-admin__notice {
	margin: 10px 0;
	&.has-admin__notice--has-icon {
		.components-notice__content {
			display: grid;
			grid-template-columns: 32px 1fr 1px;
			align-items: center;
		}

		&.has-admin__notice-appearance--inline .components-notice__content {
			display: flex;

			.has-admin__notice-icon {
				margin-right: 8px;
			}
		}
	}
	.qldx-admin__notice-message {
		color: var(--quotes-dlx-admin--color-dark);
		font-size: 1.1em;
		line-height: 1.2;
		font-weight: 500;
	}
	&.has-admin__notice-appearance--block .components-notice {
		border-left: 4px solid transparent;
		padding: 15px 0px;
		padding-left: 15px;
		margin: 0 0 15px 0;
	}
	&.has-admin__notice-appearance--inline .components-notice {
		padding-left: 0;
	}

	svg {
		display: flex;
		align-items: center;
		width: 20px;
		height: 20px;
	}

	&.has-admin__notice-type--error:not(.has-admin__notice-appearance--inline) {
		background-color: var(--quotes-dlx-admin--color-notice--error);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--error-alt);
			padding: 0;
			margin: 0;
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--error-alt);
		}
	}
	&.has-admin__notice-type--error.has-admin__notice-appearance--inline {
		.qldx-admin__notice-message {
			color: var(--quotes-dlx-admin--color-notice--error-alt);
		}
		.qldx-admin__notice-message {
			font-size: 0.9em;
		}

		svg {
			width: 16px;
			height: 16px;
			path {
				fill: var(--quotes-dlx-admin--color-notice--error-alt);
			}
		}
	}
	&.has-admin__notice-type--success {
		background-color: var(--quotes-dlx-admin--color-notice--success);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--success-alt);
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--success-alt);
		}
	}
	&.has-admin__notice-type--info {
		background-color: var(--quotes-dlx-admin--color-notice--info);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--info-alt);
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--info-alt);
		}
	}
	&.has-admin__notice-type--warning {
		background-color: var(--quotes-dlx-admin--color-notice--warning);
		.components-notice {
			border-left-color: var(--quotes-dlx-admin--color-notice--warning-alt);
		}
		svg path {
			fill: var(--quotes-dlx-admin--color-notice--warning-alt);
		}
	}
	&.has-admin__notice-animate--fadein {
		height: 0;
		opacity: 0;
		animation: has-fade-in 0.6s ease-in-out;
		opacity: 1;
		height: auto;
	}
	&.has-admin__notice-animate--fadeout {
		height: auto;
		opacity: 1;
		animation: has-fade-out 0.6s ease-in-out;
		opacity: 0;
		height: 0;
	}
	&.has-admin__notice-animate--fadeinout {
		animation-name: has-fade-in, has-fade-out;
		animation-duration: 0.6s;
		animation-delay: 0s, 2s;
	}
}

/* Buttons */
.has-admin__tabs--content-actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;

	.has-admin__tabs--content-actions--left {
		display: flex;
		justify-content: flex-start;

		button {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.has-admin__tabs--content-actions--right {
		display: flex;
		justify-content: flex-end;
	}

	&.no-flex {
		display: block;
	}

	.has-admin-reset-confirmation {
		padding-bottom: 20px;
	}

	button {
		background: #FFFFFF;
		color: #017e01;
		border: 1px solid #017e01;
		padding: 10px 20px;
		cursor: pointer;

		&:hover {
			background: #e9ece6;
			color: #005200;
			border-color: #006400;
		}

		&.has-error {
			border: 1px solid #bc2b2c;
			&:hover {
				cursor: not-allowed;
			}
		}

		&.has__btn-danger {
			background: #FFFFFF;
			color: #822700;
			border-color: #822700;

			&:hover {
				background: #ece6e6;
				color: #822700;
				border-color: #822700;
			}
		}

		&.has__btn-secondary {
			background: #FFFFFF;
			color: #333;
			border-color: #333;

			&:hover {
				background: rgb(235, 235, 235);
				color: #333;
				border-color: #333;
			}
		}

		&.has__btn--icon-right {
			svg {
				width: 16px;
				height: 16px;
				path {
					fill: #000;
				}
				margin-left: 8px;
			}
			&.is-saving {
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					animation: has-spin 1s linear infinite;
					path {
						fill: #017e01;
					}
				}
			}
			&.is-resetting {
				display: flex;
				justify-content: space-between;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					animation: has-spin 1s linear infinite;
					path {
						fill: #822700;
					}
				}
			}
		}
	}
}

/* Social Icons for Reorder */
.has-admin-theme-reorder-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	li {
		display: flex;
		height: 52px;
		width: 52px;
		background: #FFF !important;
		border: 1px solid #e5e5e5;
		align-items: center;
		justify-content: center;
		margin-right: 8px;

		&:hover {
			cursor: move;
			background: #f4f4f4 !important;
		}
		&.is-dragging {
			opacity: 0.2;
		}
		&.is-over {
			transform: scale( 1.2 );
			border: 1px dashed #000;
		}
	}
	svg {
		width: 26px;
		height: 26px;
	}
}