@keyframes hasFadeIn {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }

.has-icon:not(.components-button) {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}
.highlight-and-share-wrapper:not(.has-admin-theme-preview-list) {
    display: none;
    width: 0;
    height: 0;
	
	& > div {
		display: inline-flex !important;
		justify-content: center;
		align-items: center;
		
	}
}
.highlight-and-share-wrapper {
	position: relative;

	div,
	div:hover {
		transition: ease-in-out 0.35s;
		z-index: 1000;
	}
	
}
/* No bottom margin if container is off-center */
.highlight-and-share-wrapper.has-no-margin-bottom > div {
	margin-bottom: 0 !important;
}
.highlight-and-share-wrapper.has-no-margin-bottom:after {
	display: none !important;
}
.highlight-and-share-wrapper .fa {
    font-size: 14px;
}

/* Hide labels if appropriate and still be screen reader friendly. From: https://css-tricks.com/inclusively-hidden/ */
.highlight-and-share-wrapper.hide-has-labels .has-text {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}
.highlight-and-share-wrapper.show-has-labels > div a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* Item tooltips */
.highlight-and-share-wrapper > div:not(.has-tooltip):hover:after {
	display: none;
}
.highlight-and-share-wrapper > div.has-tooltip {
	position: relative;
	&:hover:after {
		z-index: 1000;
		animation-duration: 0.8s;
		animation-name: hasFadeIn;
		opacity: 1;
		display: block;
		position: absolute;
		padding: 8px;
		content: attr(data-tooltip);
		font-family: "FranklinGothic", Helvetica, sans-serif;
		background-color: #333;
		color: #FFF;
		font-size: 13px;
		line-height: 1.2;
		top: -40px;
		text-align: center;
		min-width: 175px;
		border-radius: 3px;
	}
}


/* Icon Only Themes Vertical Padding */
body.has-body .highlight-and-share-wrapper.theme-black.orientation-vertical > div:first-child a,
body.has-body .highlight-and-share-wrapper.theme-purple.orientation-vertical > div:first-child a,
body.has-body .highlight-and-share-wrapper.theme-white.orientation-vertical > div:first-child a,
body.has-body .highlight-and-share-wrapper.theme-cyan.orientation-vertical > div:first-child a,
body.has-body .highlight-and-share-wrapper.theme-magenta.orientation-vertical > div:first-child a,
body.has-body .highlight-and-share-wrapper.theme-blue.orientation-vertical > div:first-child a,
body.has-body .highlight-and-share-wrapper.theme-green.orientation-vertical > div:first-child a
 {
	padding-top: 18px;
}
body.has-body .highlight-and-share-wrapper.theme-black.orientation-vertical > div:last-child a,
body.has-body .highlight-and-share-wrapper.theme-purple.orientation-vertical > div:last-child a,
body.has-body .highlight-and-share-wrapper.theme-white.orientation-vertical > div:last-child a,
body.has-body .highlight-and-share-wrapper.theme-cyan.orientation-vertical > div:last-child a,
body.has-body .highlight-and-share-wrapper.theme-magenta.orientation-vertical > div:last-child a,
body.has-body .highlight-and-share-wrapper.theme-blue.orientation-vertical > div:last-child a,
body.has-body .highlight-and-share-wrapper.theme-green.orientation-vertical > div:last-child a {
	padding-bottom: 18px;
}

/* Default Theme */
.highlight-and-share-wrapper.theme-default:not(.orientation-vertical) div {
	padding: 10px;
	background: #32CCFE;
	margin-right: 5px;
	margin-bottom: 10px;
}
.highlight-and-share-wrapper.theme-default.orientation-vertical div {
	padding: 10px;
	margin-right: 0;
	margin-bottom: 8px;
}
.highlight-and-share-wrapper.theme-default div:last-child {
    margin-right: 0;
}
.highlight-and-share-wrapper.theme-default div.has_twitter {
	background: #1DA1F2;
}
.highlight-and-share-wrapper.theme-default div.has_facebook {
	background: #3c5a9e;
}
.highlight-and-share-wrapper.theme-default div.has_linkedin {
    background: #0085AE;
}
.highlight-and-share-wrapper.theme-default div.has_ok {
    background: #ee8208;
}
.highlight-and-share-wrapper.theme-default div.has_vk {
    background: #2372f5;
}
.highlight-and-share-wrapper.theme-default div.has_pinterest {
    background: #CC2127;
}
.highlight-and-share-wrapper.theme-default div.has_xing {
	background: #be4bdb;
}
.highlight-and-share-wrapper.theme-default div.has_whatsapp {
	background: #04e26a;
}
.highlight-and-share-wrapper.theme-default div.has_copy {
    background: #222222;
}
.highlight-and-share-wrapper.theme-default div.has_email {
    background: #0074a2;
}
.highlight-and-share-wrapper.theme-default div.has_tumblr {
    background: #333;
}
.highlight-and-share-wrapper.theme-default div.has_reddit {
	background: #FF4500;
}
.highlight-and-share-wrapper.theme-default div.has_telegram {
	background: #278fd6;
}
.highlight-and-share-wrapper.theme-default div.has_signal {
	background: #3a76f0;
}
.highlight-and-share-wrapper.theme-default div.has_twitter:hover {
	background: #00aced;
}
.highlight-and-share-wrapper.theme-default div.has_facebook:hover {
	background: #1F3C83;
}
.highlight-and-share-wrapper.theme-default div.has_linkedin:hover {
    background: #23a0c7;
}
.highlight-and-share-wrapper.theme-default div.has_ok:hover {
    background: #dc7909;
}
.highlight-and-share-wrapper.theme-default div.has_vk:hover {
    background: #256be0;
}
.highlight-and-share-wrapper.theme-default div.has_pinterest:hover {
    background: #d93238;
}
.highlight-and-share-wrapper.theme-default div.has_copy:hover {
    background: #000000;
}
.highlight-and-share-wrapper.theme-default div.has_email:hover {
    background: #1388b7;
}
.highlight-and-share-wrapper.theme-default div.has_xing:hover {
	background: #a53bc0;
}
.highlight-and-share-wrapper.theme-default div.has_whatsapp:hover {
	background: #02b857;
}
.highlight-and-share-wrapper.theme-default div.has_tumblr:hover {
    background: #000;
}
.highlight-and-share-wrapper.theme-default div.has_reddit:hover {
	background: #eb4407;
}
.highlight-and-share-wrapper.theme-default div.has_telegram:hover {
	background: #2587ca;
}
.highlight-and-share-wrapper.theme-default div.has_signal:hover {
	background: #366ee1;
}
body.has-body .highlight-and-share-wrapper.has-admin-theme-preview-list > div,
body.has-body .highlight-and-share-wrapper.has-admin-theme-preview-list > div > a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	& > .has-icon-label {
		margin-left: 5px;
	}
}
body.has-body .highlight-and-share-wrapper.has-admin-theme-preview-list.orientation-vertical {
	display: inline-flex;
}

body.has-body .highlight-and-share-wrapper.orientation-vertical {
	flex-wrap: wrap;
	flex-direction: column;

	&.has-label {
		& > div {

			a {
				display: block;
				width: 100%;
			}
		}
	}
}
body.has-body .highlight-and-share-wrapper:not(.theme-off) a,
body.has-body .highlight-and-share-wrapper:not(.theme-off) a:hover,
body.has-body .highlight-and-share-wrapper:not(.theme-off) a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #f8f8f8;
	display: inline-flex;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
	transition: all 0.35s ease-in-out;
}
.has-inline-text {
	background-color: rgb(255, 239, 177);
	color: black;
	cursor: pointer;
}
.has-inline-text:hover {
	background-color: rgb(252, 214, 60);
}

/* Theme Branded (icons only) */
.highlight-and-share-wrapper.theme-brand-colors.orientation-vertical div {
	margin-bottom: 0;
}
.highlight-and-share-wrapper.theme-brand-colors div {
	padding: 10px;
	background: #32CCFE;
	z-index: 1000;
	margin-right: 5px;
	margin-bottom: 10px;
}
.highlight-and-share-wrapper.theme-brand-colors div:last-child {
    margin-right: 0;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_twitter {
	background: #1DA1F2;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_facebook {
	background: #3c5a9e;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_linkedin {
    background: #0085AE;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_ok {
    background: #ee8208;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_vk {
    background: #2372f5;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_pinterest {
    background: #CC2127;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_copy {
    background: #222222;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_email {
    background: #0074a2;
}
.highlight-and-share-wrapper.theme-brand-colors div.hax_xing {
    background: #0074a2;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_whatsapp {
    background: #04e26a;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_reddit {
	background: #FF4500;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_tumblr {
	background: #333;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_telegram {
	background: #278fd6;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_signal {
	background: #3a76f0;
}
.highlight-and-share-wrapper.theme-brand-colors span.has-text {
	display: none;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_twitter:hover {
	background: #00aced;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_facebook:hover {
	background: #1F3C83;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_linkedin:hover {
    background: #23a0c7;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_ok:hover {
    background: #dc7909;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_vk:hover {
    background: #256be0;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_pinterest:hover {
    background: #d93238;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_copy:hover {
    background: #333333;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_email:hover {
    background: #1388b7;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_xing:hover {
    background: #1388b7;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_whatsapp:hover {
    background: #02b857;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_tumblr:hover {
	background: #000;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_reddit:hover {
	background: #eb4407;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_telegram:hover {
	background: #2587ca;
}
.highlight-and-share-wrapper.theme-brand-colors div.has_telegram:hover {
	background: #366ee1;
}
body.has-body .highlight-and-share-wrapper.theme-brand-colors a,
body.has-body .highlight-and-share-wrapper.theme-brand-colors a:hover,
body.has-body .highlight-and-share-wrapper.theme-brand-colors a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #FFF;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
}

/* Size of the box and margin */
div.highlight-and-share-wrapper.theme-brand-colors div {
	margin-right: 0;
	padding: 0;
}

/* Theme White */
.highlight-and-share-wrapper.theme-white.orientation-vertical div {
	margin-bottom: 0;
}
div.highlight-and-share-wrapper.theme-white div {
	margin-right: 0;
	padding: 0;
	margin-bottom: 10px;
}
div.highlight-and-share-wrapper.theme-white div.has_twitter,
div.highlight-and-share-wrapper.theme-white div.has_facebook,
div.highlight-and-share-wrapper.theme-white div.has_linkedin,
div.highlight-and-share-wrapper.theme-white div.has_ok,
div.highlight-and-share-wrapper.theme-white div.has_vk,
div.highlight-and-share-wrapper.theme-white div.has_pinterest,
div.highlight-and-share-wrapper.theme-white div.has_email,
div.highlight-and-share-wrapper.theme-white div.has_xing,
div.highlight-and-share-wrapper.theme-white div.has_whatsapp,
div.highlight-and-share-wrapper.theme-white div.has_copy,
div.highlight-and-share-wrapper.theme-white div.has_reddit,
div.highlight-and-share-wrapper.theme-white div.has_tumblr,
div.highlight-and-share-wrapper.theme-white div.has_telegram,
div.highlight-and-share-wrapper.theme-white div.has_signal
 {
	background: #FFF;
}

/* Hover color */
div.highlight-and-share-wrapper.theme-white div.has_twitter:hover,
div.highlight-and-share-wrapper.theme-white div.has_facebook:hover,
div.highlight-and-share-wrapper.theme-white div.has_linkedin:hover,
div.highlight-and-share-wrapper.theme-white div.has_ok:hover,
div.highlight-and-share-wrapper.theme-white div.has_vk:hover,
div.highlight-and-share-wrapper.theme-white div.has_pinterest:hover,
div.highlight-and-share-wrapper.theme-white div.has_email:hover,
div.highlight-and-share-wrapper.theme-white div.has_xing:hover,
div.highlight-and-share-wrapper.theme-white div.has_whatsapp:hover
div.highlight-and-share-wrapper.theme-white div.has_copy:hover,
div.highlight-and-share-wrapper.theme-white div.has_reddit:hover,
div.highlight-and-share-wrapper.theme-white div.has_tumblr:hover,
div.highlight-and-share-wrapper.theme-white div.has_telegram:hover,
div.highlight-and-share-wrapper.theme-white div.has_signal:hover {
	background: #EEE;
}

body.has-body .highlight-and-share-wrapper.theme-white a,
body.has-body .highlight-and-share-wrapper.theme-white a:hover,
body.has-body .highlight-and-share-wrapper.theme-white a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #000;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
}

/* Speech Bubble */
.highlight-and-share-wrapper.theme-white:after {
	content: "";
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	bottom: 0;
	border-top: 10px solid #FFF;
	border-top-color: #FFF;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

/* Purple Theme color */
.highlight-and-share-wrapper.theme-purple.orientation-vertical div {
	margin-bottom: 0;
}
div.highlight-and-share-wrapper.theme-purple div {
	margin-right: 0;
	margin-bottom: 10px;
	padding: 0;
}
div.highlight-and-share-wrapper.theme-purple div.has_twitter,
div.highlight-and-share-wrapper.theme-purple div.has_facebook,
div.highlight-and-share-wrapper.theme-purple div.has_linkedin,
div.highlight-and-share-wrapper.theme-purple div.has_ok,
div.highlight-and-share-wrapper.theme-purple div.has_vk,
div.highlight-and-share-wrapper.theme-purple div.has_pinterest,
div.highlight-and-share-wrapper.theme-purple div.has_email,
div.highlight-and-share-wrapper.theme-purple div.has_xing,
div.highlight-and-share-wrapper.theme-purple div.has_whatsapp,
div.highlight-and-share-wrapper.theme-purple div.has_copy,
div.highlight-and-share-wrapper.theme-purple div.has_reddit,
div.highlight-and-share-wrapper.theme-purple div.has_tumblr,
div.highlight-and-share-wrapper.theme-purple div.has_telegram,
div.highlight-and-share-wrapper.theme-purple div.has_signal
 {
	background: #8364E8;
}

/* Hover color */
div.highlight-and-share-wrapper.theme-purple div.has_twitter:hover,
div.highlight-and-share-wrapper.theme-purple div.has_facebook:hover,
div.highlight-and-share-wrapper.theme-purple div.has_linkedin:hover,
div.highlight-and-share-wrapper.theme-purple div.has_ok:hover,
div.highlight-and-share-wrapper.theme-purple div.has_vk:hover,
div.highlight-and-share-wrapper.theme-purple div.has_pinterest:hover,
div.highlight-and-share-wrapper.theme-purple div.has_email:hover,
div.highlight-and-share-wrapper.theme-purple div.has_xing:hover,
div.highlight-and-share-wrapper.theme-purple div.has_whatsapp:hover,
div.highlight-and-share-wrapper.theme-purple div.has_copy:hover,
div.highlight-and-share-wrapper.theme-purple div.has_reddit:hover,
div.highlight-and-share-wrapper.theme-purple div.has_tumblr:hover,
div.highlight-and-share-wrapper.theme-purple div.has_telegram:hover,
div.highlight-and-share-wrapper.theme-purple div.has_signal:hover {
	background: #714EE4;
}

/* Speech Bubble */
.highlight-and-share-wrapper.theme-purple:after {
	content: " ";
	display: block;
	position: absolute;
	bottom: 0;
	left: calc(50% - 10px);
	border-top: 10px solid #8364E8;
	border-top-color: #8364E8;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}


/* Magenta Color */
.highlight-and-share-wrapper.theme-magenta.orientation-vertical div {
	margin-bottom: 0;
}
div.highlight-and-share-wrapper.theme-magenta div {
	margin-right: 0;
	margin-bottom: 10px;
	padding: 0;
}
div.highlight-and-share-wrapper.theme-magenta div.has_twitter,
div.highlight-and-share-wrapper.theme-magenta div.has_facebook,
div.highlight-and-share-wrapper.theme-magenta div.has_linkedin,
div.highlight-and-share-wrapper.theme-magenta div.has_ok,
div.highlight-and-share-wrapper.theme-magenta div.has_vk,
div.highlight-and-share-wrapper.theme-magenta div.has_pinterest,
div.highlight-and-share-wrapper.theme-magenta div.has_email,
div.highlight-and-share-wrapper.theme-magenta div.has_xing,
div.highlight-and-share-wrapper.theme-magenta div.has_whatsapp,
div.highlight-and-share-wrapper.theme-magenta div.has_copy,
div.highlight-and-share-wrapper.theme-magenta div.has_reddit,
div.highlight-and-share-wrapper.theme-magenta div.has_tumblr,
div.highlight-and-share-wrapper.theme-magenta div.has_telegram,
div.highlight-and-share-wrapper.theme-magenta div.has_signal
 {
	background: #FF00FF;
}

/* Hover color */
div.highlight-and-share-wrapper.theme-magenta div.has_twitter:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_facebook:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_linkedin:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_ok:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_vk:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_pinterest:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_email:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_xing:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_whatsapp:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_copy:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_reddit:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_tumblr:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_telegram:hover,
div.highlight-and-share-wrapper.theme-magenta div.has_signal:hover {
	background: #c700c7;
}

/* Speech Bubble */
.highlight-and-share-wrapper.theme-magenta:after {
	content: " ";
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	bottom: 0;
	border-top: 10px solid #FF00FF;
	border-top-color: #FF00FF;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

/* Green color */
.highlight-and-share-wrapper.theme-green.orientation-vertical div {
	margin-bottom: 0;
}
div.highlight-and-share-wrapper.theme-green div {
	margin-right: 0;
	padding: 0;
	margin-bottom: 10px;
}
div.highlight-and-share-wrapper.theme-green div.has_twitter,
div.highlight-and-share-wrapper.theme-green div.has_facebook,
div.highlight-and-share-wrapper.theme-green div.has_linkedin,
div.highlight-and-share-wrapper.theme-green div.has_ok,
div.highlight-and-share-wrapper.theme-green div.has_vk,
div.highlight-and-share-wrapper.theme-green div.has_pinterest,
div.highlight-and-share-wrapper.theme-green div.has_email,
div.highlight-and-share-wrapper.theme-green div.has_xing,
div.highlight-and-share-wrapper.theme-green div.has_whatsapp,
div.highlight-and-share-wrapper.theme-green div.has_copy,
div.highlight-and-share-wrapper.theme-green div.has_reddit,
div.highlight-and-share-wrapper.theme-green div.has_tumblr,
div.highlight-and-share-wrapper.theme-green div.has_telegram,
div.highlight-and-share-wrapper.theme-green div.has_signal
 {
	background: #03ac27;
}

/* Hover color */
div.highlight-and-share-wrapper.theme-green div.has_twitter:hover,
div.highlight-and-share-wrapper.theme-green div.has_facebook:hover,
div.highlight-and-share-wrapper.theme-green div.has_linkedin:hover,
div.highlight-and-share-wrapper.theme-green div.has_ok:hover,
div.highlight-and-share-wrapper.theme-green div.has_vk:hover,
div.highlight-and-share-wrapper.theme-green div.has_pinterest:hover,
div.highlight-and-share-wrapper.theme-green div.has_email:hover,
div.highlight-and-share-wrapper.theme-green div.has_xing:hover,
div.highlight-and-share-wrapper.theme-green div.has_whatsapp:hover,
div.highlight-and-share-wrapper.theme-green div.has_copy:hover,
div.highlight-and-share-wrapper.theme-green div.has_reddit:hover,
div.highlight-and-share-wrapper.theme-green div.has_tumblr:hover,
div.highlight-and-share-wrapper.theme-green div.has_telegram:hover,
div.highlight-and-share-wrapper.theme-green div.has_signal:hover {
	background: #029a23;
}

/* Speech Bubble */
.highlight-and-share-wrapper.theme-green:after {
	content: " ";
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	bottom: 0;
	border-top: 10px solid #03ac27;
	border-top-color: #03ac27;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}


/* Cyan color */
.highlight-and-share-wrapper.theme-cyan.orientation-vertical div {
	margin-bottom: 0;
}
div.highlight-and-share-wrapper.theme-cyan div {
	margin-right: 0;
	padding: 0;
	margin-bottom: 10px;
}
div.highlight-and-share-wrapper.theme-cyan div.has_twitter,
div.highlight-and-share-wrapper.theme-cyan div.has_facebook,
div.highlight-and-share-wrapper.theme-cyan div.has_linkedin,
div.highlight-and-share-wrapper.theme-cyan div.has_ok,
div.highlight-and-share-wrapper.theme-cyan div.has_vk,
div.highlight-and-share-wrapper.theme-cyan div.has_pinterest,
div.highlight-and-share-wrapper.theme-cyan div.has_email,
div.highlight-and-share-wrapper.theme-cyan div.has_xing,
div.highlight-and-share-wrapper.theme-cyan div.has_whatsapp,
div.highlight-and-share-wrapper.theme-cyan div.has_copy,
div.highlight-and-share-wrapper.theme-cyan div.has_reddit,
div.highlight-and-share-wrapper.theme-cyan div.has_tumblr,
div.highlight-and-share-wrapper.theme-cyan div.has_telegram,
div.highlight-and-share-wrapper.theme-cyan div.has_signal
 {
	background: #0091b0;
}

/* Hover color */
div.highlight-and-share-wrapper.theme-cyan div.has_twitter:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_facebook:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_linkedin:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_ok:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_vk:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_pinterest:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_email:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_xing:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_whatsapp:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_copy:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_reddit:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_tumblr:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_telegram:hover,
div.highlight-and-share-wrapper.theme-cyan div.has_signal:hover {
	background: #0287a3;
}

/* Speech Bubble */
.highlight-and-share-wrapper.theme-cyan:after {
	content: " ";
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	bottom: 0;
	border-top: 10px solid #0091b0;
	border-top-color: #0091b0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}


.highlight-and-share-wrapper.theme-colorful-circles div {
	padding: 10px;
	background: #32CCFE;
	z-index: 1000;
	margin-right: 8px;
	margin-bottom: 10px;
	border-radius: 50%;
}
// Circles.
.highlight-and-share-wrapper.theme-colorful-circles div:last-child {
    margin-right: 0;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_facebook {
	background: #3c5a9e;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_linkedin {
    background: #0085AE;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_ok {
    background: #ee8208;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_vk {
    background: #2372f5;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_pinterest {
    background: #CC2127;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_copy {
    background: #222222;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_email {
    background: #0074a2;
}
.highlight-and-share-wrapper.theme-colorful-circles div.hax_xing {
    background: #0074a2;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_whatsapp {
    background: #04e26a;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_reddit {
	background: #FF4500;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_tumblr {
	background: #333;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_telegram {
	background: #278fd6;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_signal {
	background: #3a76f0;
}
.highlight-and-share-wrapper.theme-colorful-circles span.has-text {
	display: none;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_twitter:hover {
	background: #00aced;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_facebook:hover {
	background: #1F3C83;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_linkedin:hover {
    background: #23a0c7;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_ok:hover {
    background: #dc7909;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_vk:hover {
    background: #256be0;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_pinterest:hover {
    background: #d93238;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_copy:hover {
    background: #333333;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_email:hover {
    background: #1388b7;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_xing:hover {
    background: #1388b7;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_whatsapp:hover {
    background: #02b857;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_reddit:hover {
	background: #eb4407;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_tumblr:hover {
	background: #000;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_telegram:hover {
	background: #2587ca;
}
.highlight-and-share-wrapper.theme-colorful-circles div.has_telegram:hover {
	background: #366ee1;
}
body.has-body .highlight-and-share-wrapper.theme-colorful-circles a,
body.has-body .highlight-and-share-wrapper.theme-colorful-circles a:hover,
body.has-body .highlight-and-share-wrapper.theme-colorful-circles a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #FFF;
	height: 100%;
	padding: 12px;
	text-decoration: none;
}

/* Size of the box and margin */
div.highlight-and-share-wrapper.theme-colorful-circles div {
	position: relative;
	margin-right: 5px;
	padding: 0;
	box-shadow:  0 0 2px  rgba(0,0,0,0.6);
}

.theme-colorful-glass-circles .has-icon {
	vertical-align: middle;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles .fa {
    font-size: 14px;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div {
	padding: 10px;
	background: #32CCFE;
	background: rgba(50,204,254,0.4);
	z-index: 1000;
	margin-right: 8px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles:not(.orientation-vertical) div:last-child {
	margin-right: 0;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div:last-child {
	margin-bottom: 0;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_facebook {
	background-color: #3c5a9e;
	background: rgba(60,90,158,0.4)
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	backdrop-filter: blur(2px);
	background-color: rgba(0,0,0, 0.3);
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
	border-radius: 100%;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div svg {
	opacity: 1;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_linkedin {
    background: #0985ab;
	background: rgba(9,133,171,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_ok {
    background: #ee8208;
	background: rgba(238,130,8,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_vk {
    background: #2372f5;
	background: rgba(35,114,245,0.4)
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_pinterest {
    background: #CC2127;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_copy {
    background: #222222;
	background: rgba(34,34,34,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_email {
    background: #0074a2;
	background: rgba(0,116,162,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.hax_xing {
    background: #0074a2;
	background: rgba(0,116,162,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_whatsapp {
    background: #04e26a;
	background: rgba(4,226,106,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_reddit {
	background: #FF4500;
	background: rgba(255,69,0,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_tumblr {
	background: #222222;
	background: rgba(34,34,34,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_telegram {
	background: #278fd6;
	background: rgba(39,143,214,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_signal {
	background: #3a76f0;
	background: rgba(58,118,240,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles span.has-text {
	display: none;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_twitter:hover {
	background: #00aced;
	background: rgba(0,172,237,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_facebook:hover {
	background: #1F3C83;
	background: rgba(31,60,131,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_linkedin:hover {
    background: #23a0c7;
	background: rgba(35,160,199,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_ok:hover {
    background: #dc7909;
	background: rgba(220,121,9,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_vk:hover {
    background: #256be0;
	background: rgba(37,107,224,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_pinterest:hover {
    background: #d93238;
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_copy:hover {
    background: #333333;
	background: rgba(51,51,51,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_email:hover {
    background: #1388b7;
	background: rgba(19,136,183,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_xing:hover {
    background: #1388b7;
	background: rgba(19,136,183,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_whatsapp:hover {
    background: #02b857;
	background: rgba(2,184,87,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_reddit:hover {
	background: #eb4407;
	background: rgba(235,68,7,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_tumblr:hover {
    background: #333333;
	background: rgba(51,51,51,0.4);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_telegram:hover {
	background: #2587ca;
	background-image: radial-gradient(rgba(255,255,255,0.4),#2587ca,#154c72);
}
.highlight-and-share-wrapper.theme-colorful-glass-circles div.has_telegram:hover {
	background: #366ee1;
	background: rgba(54,110,225,0.4);
}
body.has-body .highlight-and-share-wrapper.theme-colorful-glass-circles a,
body.has-body .highlight-and-share-wrapper.theme-colorful-glass-circles a:hover,
body.has-body .highlight-and-share-wrapper.theme-colorful-glass-circles a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #FFF;
	height: 100%;
	padding: 12px;
	text-decoration: none;
}

/* Size of the box and margin */
div.highlight-and-share-wrapper.theme-colorful-glass-circles div {
	position: relative;
	margin-right: 5px;
	padding: 0;
}
div.highlight-and-share-wrapper.theme-colorful-glass-circles div a {
	position: relative;
	display: inline-block;
	z-index: 10;
}

// Brand theme.
.highlight-and-share-wrapper.theme-brand div:last-child {
    margin-right: 0;
}
.highlight-and-share-wrapper.theme-brand div.has_facebook {
	background: #3c5a9e;
}
.highlight-and-share-wrapper.theme-brand div.has_linkedin {
    background: #0085AE;
}
.highlight-and-share-wrapper.theme-brand div.has_ok {
    background: #ee8208;
}
.highlight-and-share-wrapper.theme-brand div.has_vk {
    background: #2372f5;
}
.highlight-and-share-wrapper.theme-brand div.has_pinterest {
    background: #CC2127;
}
.highlight-and-share-wrapper.theme-brand div.has_copy {
    background: #222222;
}
.highlight-and-share-wrapper.theme-brand div.has_email {
    background: #0074a2;
}
.highlight-and-share-wrapper.theme-brand div.hax_xing {
    background: #0074a2;
}
.highlight-and-share-wrapper.theme-brand div.has_whatsapp {
    background: #04e26a;
}
.highlight-and-share-wrapper.theme-brand div.has_reddit {
	background: #FF4500;
}
.highlight-and-share-wrapper.theme-brand div.has_tumblr {
	background: #333;
}
.highlight-and-share-wrapper.theme-brand div.has_telegram {
	background: #278fd6;
}
.highlight-and-share-wrapper.theme-brand div.has_signal {
	background: #3a76f0;
}
.highlight-and-share-wrapper.theme-brand span.has-text {
	display: none;
}
.highlight-and-share-wrapper.theme-brand div.has_twitter:hover {
	background: #00aced;
}
.highlight-and-share-wrapper.theme-brand div.has_facebook:hover {
	background: #1F3C83;
}
.highlight-and-share-wrapper.theme-brand div.has_linkedin:hover {
    background: #23a0c7;
}
.highlight-and-share-wrapper.theme-brand div.has_ok:hover {
    background: #dc7909;
}
.highlight-and-share-wrapper.theme-brand div.has_vk:hover {
    background: #256be0;
}
.highlight-and-share-wrapper.theme-brand div.has_pinterest:hover {
    background: #d93238;
}
.highlight-and-share-wrapper.theme-brand div.has_copy:hover {
    background: #333333;
}
.highlight-and-share-wrapper.theme-brand div.has_email:hover {
    background: #1388b7;
}
.highlight-and-share-wrapper.theme-brand div.has_xing:hover {
    background: #1388b7;
}
.highlight-and-share-wrapper.theme-brand div.has_whatsapp:hover {
    background: #02b857;
}
.highlight-and-share-wrapper.theme-brand div.has_reddit:hover {
	background: #eb4407;
}
.highlight-and-share-wrapper.theme-brand div.has_tumblr {
	background: #000;
}
.highlight-and-share-wrapper.theme-brand div.has_telegram:hover {
	background: #2587ca;
}
.highlight-and-share-wrapper.theme-brand div.has_telegram:hover {
	background: #366ee1;
}
body.has-body .highlight-and-share-wrapper.theme-brand a,
body.has-body .highlight-and-share-wrapper.theme-brand a:hover,
body.has-body .highlight-and-share-wrapper.theme-brand a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #FFF;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
}

/* Size of the box and margin */
div.highlight-and-share-wrapper.theme-brand div {
	margin-right: 0;
	padding: 0;
}

/* Theme Blue */
body.has-body .highlight-and-share-wrapper.theme-blue a,
body.has-body .highlight-and-share-wrapper.theme-blue a:hover,
body.has-body .highlight-and-share-wrapper.theme-blue a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #FFF;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
}
/* End Default HAS Styles */




/* Size of the box and margin */
.highlight-and-share-wrapper.theme-blue.orientation-vertical div {
	margin-bottom: 0;
}
div.highlight-and-share-wrapper.theme-blue div {
	margin-right: 0;
	padding: 0;
	margin-bottom: 10px;
}

/* Padding for the anchors */
div.highlight-and-share-wrapper.theme-blue a,
div.highlight-and-share-wrapper.theme-blue a:hover,
div.highlight-and-share-wrapper.theme-blue a:visited {
	padding: 10px;
}

/* Regular color */
div.highlight-and-share-wrapper.theme-blue div.has_twitter,
div.highlight-and-share-wrapper.theme-blue div.has_facebook,
div.highlight-and-share-wrapper.theme-blue div.has_linkedin,
div.highlight-and-share-wrapper.theme-blue div.has_ok,
div.highlight-and-share-wrapper.theme-blue div.has_vk,
div.highlight-and-share-wrapper.theme-blue div.has_pinterest,
div.highlight-and-share-wrapper.theme-blue div.has_email,
div.highlight-and-share-wrapper.theme-blue div.has_xing,
div.highlight-and-share-wrapper.theme-blue div.has_whatsapp,
div.highlight-and-share-wrapper.theme-blue div.has_copy,
div.highlight-and-share-wrapper.theme-blue div.has_reddit,
div.highlight-and-share-wrapper.theme-blue div.has_tumblr,
div.highlight-and-share-wrapper.theme-blue div.has_telegram,
div.highlight-and-share-wrapper.theme-blue div.has_signal
 {
	background: #0009c1;
}

/* Hover color */
div.highlight-and-share-wrapper.theme-blue div.has_twitter:hover,
div.highlight-and-share-wrapper.theme-blue div.has_facebook:hover,
div.highlight-and-share-wrapper.theme-blue div.has_linkedin:hover,
div.highlight-and-share-wrapper.theme-blue div.has_ok:hover,
div.highlight-and-share-wrapper.theme-blue div.has_vk:hover,
div.highlight-and-share-wrapper.theme-blue div.has_pinterest:hover,
div.highlight-and-share-wrapper.theme-blue div.has_email:hover,
div.highlight-and-share-wrapper.theme-blue div.has_xing:hover,
div.highlight-and-share-wrapper.theme-blue div.has_whatsapp:hover,
div.highlight-and-share-wrapper.theme-blue div.has_copy:hover,
div.highlight-and-share-wrapper.theme-blue div.has_reddit:hover,
div.highlight-and-share-wrapper.theme-blue div.has_tumblr:hover,
div.highlight-and-share-wrapper.theme-blue div.has_telegram:hover,
div.highlight-and-share-wrapper.theme-blue div.has_signal:hover {
	background: #0008a4;
}

/* Speech Bubble */
.highlight-and-share-wrapper.theme-blue:after {
	content: "";
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	bottom: 0;
	border-top: 10px solid #0009c1;
	border-top-color: #0009c1;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

/* Theme Black */
.highlight-and-share-wrapper.theme-black.orientation-vertical div {
	margin-bottom: 0;
}
.highlight-and-share-wrapper.theme-black div {
	padding: 10px;
	background: #32CCFE;
	z-index: 1000;
	margin-right: 5px;
	margin-bottom: 10px;
}

body.has-body .highlight-and-share-wrapper.theme-black a,
body.has-body .highlight-and-share-wrapper.theme-black a:hover,
body.has-body .highlight-and-share-wrapper.theme-black a:visited {
	font-family: 'FranklinGothic', Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.150em;
	font-size: 14px;
	letter-spacing: .2em;
	color: #f8f8f8;
	height: 100%;
	padding: 12px 20px;
	text-decoration: none;
}

/* Size of the box and margin */
div.highlight-and-share-wrapper.theme-black div {
	margin-right: 0;
	padding: 0;
}

/* Padding for the anchors */
div.highlight-and-share-wrapper.theme-black a,
div.highlight-and-share-wrapper.theme-black a:hover,
div.highlight-and-share-wrapper.theme-black a:visited {
	padding: 10px;
}

/* Regular color */
div.highlight-and-share-wrapper.theme-black div.has_twitter,
div.highlight-and-share-wrapper.theme-black div.has_facebook,
div.highlight-and-share-wrapper.theme-black div.has_linkedin,
div.highlight-and-share-wrapper.theme-black div.has_ok,
div.highlight-and-share-wrapper.theme-black div.has_vk,
div.highlight-and-share-wrapper.theme-black div.has_pinterest,
div.highlight-and-share-wrapper.theme-black div.has_email,
div.highlight-and-share-wrapper.theme-black div.has_xing,
div.highlight-and-share-wrapper.theme-black div.has_whatsapp,
div.highlight-and-share-wrapper.theme-black div.has_copy,
div.highlight-and-share-wrapper.theme-black div.has_reddit,
div.highlight-and-share-wrapper.theme-black div.has_tumblr,
div.highlight-and-share-wrapper.theme-black div.has_telegram,
div.highlight-and-share-wrapper.theme-black div.has_signal
 {
	background: #333;
}

/* Hover color */
div.highlight-and-share-wrapper.theme-black div.has_twitter:hover,
div.highlight-and-share-wrapper.theme-black div.has_facebook:hover,
div.highlight-and-share-wrapper.theme-black div.has_linkedin:hover,
div.highlight-and-share-wrapper.theme-black div.has_ok:hover,
div.highlight-and-share-wrapper.theme-black div.has_vk:hover,
div.highlight-and-share-wrapper.theme-black div.has_pinterest:hover,
div.highlight-and-share-wrapper.theme-black div.has_email:hover,
div.highlight-and-share-wrapper.theme-black div.has_xing:hover,
div.highlight-and-share-wrapper.theme-black div.has_whatsapp:hover,
div.highlight-and-share-wrapper.theme-black div.has_copy:hover,
div.highlight-and-share-wrapper.theme-black div.has_reddit:hover,
div.highlight-and-share-wrapper.theme-black div.has_tumblr:hover,
div.highlight-and-share-wrapper.theme-black div.has_telegram:hover,
div.highlight-and-share-wrapper.theme-black div.has_signal:hover {
	background: #222;
}

/* Speech Bubble */
.highlight-and-share-wrapper.theme-black:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: calc(50% - 10px);
	border-top: 10px solid #333;
	border-top-color: #333;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}

/* Theme Custom */
body.has-body .highlight-and-share-wrapper.theme-custom a,
body.has-body .highlight-and-share-wrapper.theme-custom a:hover,
body.has-body .highlight-and-share-wrapper.theme-custom a:visited {
	color: #000;
}